[submodule "opengeode"]
	path = opengeode
	url = https://gitrepos.estec.esa.int/taste/opengeode.git
[submodule "asn1-value-editor"]
	path = asn1-value-editor
	url = https://gitrepos.estec.esa.int/taste/asn1-value-editor.git
[submodule "speedometer"]
	path = speedometer
	url = https://gitrepos.estec.esa.int/taste/speedometer.git
[submodule "dmt"]
	path = dmt
	url = https://gitrepos.estec.esa.int/taste/dmt.git
[submodule "pymsc"]
	path = pymsc
	url = https://gitrepos.estec.esa.int/taste/pymsc.git
[submodule "orchestrator"]
	path = orchestrator
	url = https://gitrepos.estec.esa.int/taste/orchestrator.git
[submodule "taste-MSC"]
	path = taste-MSC
	url = https://gitrepos.estec.esa.int/taste/taste-MSC.git
[submodule "ocarina"]
	path = ocarina
	url = https://gitrepos.estec.esa.int/taste/ocarina
[submodule "taste-model-checker"]
	path = taste-model-checker
	url = https://gitrepos.estec.esa.int/taste/taste-model-checker.git
[submodule "polyorb-hi-c"]
	path = polyorb-hi-c
	url = https://gitrepos.estec.esa.int/taste/polyorb-hi-c.git
[submodule "polyorb-hi-ada"]
	path = polyorb-hi-ada
	url = https://gitrepos.estec.esa.int/taste/polyorb-hi-ada.git
[submodule "testSuites"]
	path = testSuites
	url = https://gitrepos.estec.esa.int/taste/regression-suites.git
[submodule "ellidiss-GUI"]
	path = ellidiss-GUI
	url = https://gitrepos.estec.esa.int/taste/ellidiss-release.git
[submodule "buildsupport"]
	path = buildsupport
	url = https://gitrepos.estec.esa.int/taste/buildsupport.git
[submodule "msc-editor"]
	path = msc-editor
	url = https://gitrepos.estec.esa.int/taste/msc-editor.git
[submodule "stlink"]
	path = stlink
	url = https://github.com/texane/stlink.git
[submodule "components_library"]
	path = components_library
	url = https://gitrepos.estec.esa.int/taste/components_library
[submodule "upython-taste"]
	path = upython-taste
	url = https://gitrepos.estec.esa.int/ttsiodras/uPython-mirror.git
